<template name="home">
  <div class="home">
    <div class="page-header">
      <h1>Welcome to {{ siteTitle }}</h1>
    </div>
    <p>
      <h2>This tool is  under development</h2>
      <br>
      <h3>To Do:</h3>

      <ul>1. <strike>check CREQ physical servers that are DECOMMISSIONED but the HW record is still "Active"</strike></ul>

      <ul>2. check physical and virtual servers that are not decomissioned but the SCOM agent is NOT healthy for a period.</ul>

      <ul>3. <strike>physical servers SCOM compliance</strike> </ul>

      <ul>4. IPAM and SCCM integration and checks </ul>

      <ul>5. Add dynamic filter to remove decomissioned systems by default </ul>
      <br>

      Please send any feedback or feature requests to kiril.dimitrov@ppdi.com
    </p>
  </div>
</template>
