<template name="creq">

    <div class="page-header">
      <h1>CREQ Systems View</h1>
    </div>

    {{> creq_main}}

    {{> creq_apps}}

</template>


<template name="creq_main">
  <div class="creq-systems">
    {{> tabular table=TabularTables.CREQ selector=selector class="table table-hover table-striped table-bordered table-condensed"}}
  </div>

  {{#if selector}}
  <button type="button" class="btn btn-primary btn-xs expand">Reset Selection</button>
  {{/if}}
  
</template>

<template name="creq_apps">
<div class= "creq-apps">
  {{#if selector.DESCRIPTION}}
  <h3>Associated Applications</h3>
  <h5>{{selector.DESCRIPTION}}</h5>
  {{/if}}

  {{#if selector.ASSOCIATED_APPLICATION}}
  <h3> Associated Servers</h3>
  <h5>{{selector.ASSOCIATED_APPLICATION}}</h5>
  {{/if}}


  {{> tabular table=TabularTables.apps selector=selector class="table table-hover table-striped table-bordered table-condensed"}}
</div>
</template>
